html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  background-image: url('/assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  height: 40px;
  width: 80px;
  padding-top: 5px;
  float: left;
  border-radius: 8px;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #ece9e7;
}

nav:nth-child(1) {
  padding-left: 25px;
}

.navlink {
  padding: 5px;
  padding-top: 12px;
  padding-left: 20px;
  color: white;
  font-size: 1.3em;
  float: left;
}

.navlink a,
.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  background-color: #E7E7E7;
  transition: background-color 0.4s ease;
}

.navlink a:hover {
  transition: background-color 0.8s ease;
  background-color: #43464B;
}


.armyForm,
.detachmentForm,
.unitForm,
.modelForm {
  border: 2px solid #222426;
  width: 300px;
  max-width: 400px;
  margin-top: 10px;
  padding-top: 10px;
  background-color: #43464B;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  float: left;
}

.armyForm label,
.detachmentForm label,
.unitForm label,
.modelForm label {
  display: inline-block;
  width: 100px;
  margin: 10px;
  font-size: 1.2em;
  color: white;
}

.armyForm input[type=text],
.detachmentForm input[type=text],
.unitForm input[type=text],
.modelForm input[type=text],
  {

  display: inline-block;
}

.armyForm select,
.detachmentForm select,
.unitForm select,
.modelForm select,
  {
  margin: 10px;
  display: inline-block;

}

.makeArmySubmit,
.makeDetachmentSubmit,
.makeUnitSubmit,
.makeModelSubmit {
  transition: background-color 0.4s ease;
  display: inline-block;
  width: 100%;
  height: 40px;
  background-color: #43464B;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  font-size: 15pt;
}

.makeArmySubmit:link,
.makeArmySubmit:visited,
.makeArmySubmit:hover,
.makeArmySubmit:active,
.makeDetachmentSubmit:link,
.makeDetachmentSubmit:visited,
.makeDetachmentSubmit:hover,
.makeDetachmentSubmit:active,
.makeUnitSubmit:link,
.makeUnitSubmit:visited,
.makeUnitSubmit:hover,
.makeUnitSubmit:active,
.makeModelSubmit:link,
.makeModelSubmit:visited,
.makeModelSubmit:hover,
.makeModelSubmit:active {
  color: white;
}

.makeArmySubmit:hover,
.makeDetachmentSubmit:hover,
.makeUnitSubmit:hover,
.makeModelSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: #338acc;
}

.mainForm {
  height: 300px;
  width: 350px;
  margin: 0 auto;
  padding-top: 350px;
  font-size: 1.2em;
}

.mainForm h3 {
  text-align: center;
}

.mainForm label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: right;
  font-size: 1.2em;
  color: white;
}

.formSubmit {
  transition: background-color 0.4s ease;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
  font-size: 1.2em;
  width: 100px;
  background-color: #717374;
  border-radius: 2px;
  border-color: #717390;
  padding: 3px 0px;
  color: white;
  text-decoration: none;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
  color: white;
}

.formSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: #E7E7E7;
}

#user,
#pass,
#pass2 {
  text-align: center;
  font-size: 1.1em;
  width: 180px;
  border-radius: 6px;
}

#user:focus,
#pass:focus,
#pass2:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px white;
}

#domoMessage {
  display: none;
  top: 250px;
  width: 250px;
  height: 650px;
  position: absolute;
  z-index: 200;
  right: 0px;
  overflow: hidden;
}

#domoMessage h3 {
  width: 200px;
  position: absolute;
  top: 0px;
  left: 20px;
}

#speech {
  height: 120px;
  width: 250px;
  z-index: 300;
}

#errorMessage {
  font-size: 1.2em;
  font-weight: bold;
  color: red;
  font-style: italic;
}

#domo {
  z-index: 225;
  margin-top: -20px;
  margin-left: 0px;
  height: 450px;
  width: 300px;
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}

#armies {
  width: 900px;
  min-width: 400px;
  border-radius: 4px;
  border: solid white;
  background-color: #E7E7E7;
  margin: auto;
  margin-top: 40px;
  overflow-y: scroll;
  max-height: 70%;
}

.army,
.detachment,
.unit,
.model {
  width: 95%;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 2px solid #717390;
  border-radius: 4px;
  background-color: #ece9e7;
  padding: 10px;
  min-height: 300px;
  overflow: hidden;
}

.army:hover,
.detachment:hover,
.unit:hover,
.model:hover {
  transition: border-color 0.2s ease-out;
  border-color: rgba(255, 255, 255, 0.8);
  transition: background-color 2.6s ease-out;
  background-color: whitesmoke;
}

.addImg {
  float: right;
  margin-right:10px;
}

.deleteImg {
  float: left;
  margin-left:10px;
}

img.domoFace {
  margin-left: 25px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  margin-top: 10px;
  float: left;
}

h3.emptyArmy,
h3.emptyDetachment,
h3.emptyUnit,
h3.emptyModel {
  width: 400px;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
  margin-top: 18px;
  color: black;
}

h3.listName,
h3.detachmentType,
h3.unitName,
h3.modelName {
  text-align: center;
  font-size: 48pt;
  text-decoration: underline;
  margin-top: 0px;
}

h3.listPoints,
h3.detachmentPoints,
h3.unitPoints,
h3.modelPoints {
  margin-top: 0;
  font-size: 24pt;
  float: left;
}

h3.listPower,
h3.detachmentPower,
h3.unitPower,
h3.modelPower {
  margin-top:0;
  font-size: 24pt;
  float: right;
}

h3.listFaction,
h3.listArmy,
h3.listSubFaction,
h3.unitType,
h3.unitUpgrades,
h3.unitUpgradesCost,
h3.unitSpecialRules,
h3.modelQuantity,
h3.modelUpgrades,
h3.modelUpgradesCost,
{
  font-size: 14pt;
  display: block;
  text-align: left;
  margin-left: 35%;
  
}

.itemContent{
  min-height: 100px;
  align-content: center;
  text-align: center;
}

.itemPointsPower{
  min-height: 100px;
  margin-top: 0;
}

.itemImages{
  min-height: 100px;
  margin-bottom: 0;
}

h3.modelStats{
  font-size: 18pt;
  text-align: center;
}


.army:first-child {
  margin-top: 10px;
}

.army:last-child {
  margin-bottom: 10px;
}
